.label{
    display: flex;
    font-size: 0.75rem;
    padding: 0.25rem 1.25rem;
    gap: 0.625rem;
    line-height: 1.25rem;
    align-items: flex-start;
}

.input{
    outline: none;
    display: flex;
    margin:0;
    border-radius: 0.25rem;
    align-items: flex-start;
    box-shadow: none;
    padding: 0.75rem 1.25rem;
    gap: 0.625rem;
    align-self: stretch;
}

.p{
    padding: 0.25rem 1.25rem;
    font-size: 0.75rem;
}

.input::placeholder {
    color: var(--primary-dark-grey);
    font-family: 'Manrope', sans-serif;
}
.default{
    transition: 300ms;
    color: var(--primary-dark-grey);
    border: 1px solid var(--primary-middle-grey);
}
.p_default {color: var(--primary-dark-grey)}

.default:focus {
    color: var(--primary-black);
    border: 1px solid var(--secondary-blue);
    box-shadow: 0 0 4px 0 rgba(129, 236, 255, 0.75);
    transition: 300ms;
}
.p_focus {color: var(--primary-black)}

.filled{
    color: var(--primary-black);
    border:1px solid var(--primary-black);
}
.p_filled {color: var(--primary-black)}

.error_filled{
    border:1px solid var(--system-red);
    color: var(--primary-black);
}
.p_error_filled {
    color: var(--system-red);
}
.disabled_empty{
    border:1px solid var(--primary-dark-grey);
    color: var(--primary-dark-grey);
    background: var(--primary-light-grey);

}

.disabled_filled{
    border:1px solid var(--primary-dark-grey);
    color: var(--primary-dark-grey);
    background: var(--primary-light-grey);
}

.p_disabled_filled, .p_disabled_empty,
.label_disabled_filled, .label_disabled_empty{
    color: var(--primary-dark-grey);
}
