.button {
    display: flex;
    padding: 0.75rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 3.5rem;
    border: none;
}

.default{
    color: var(--primary-black);
    transition: 300ms;
}

.click ,
.default:hover{
    background: var(--primary-black);
    color: var(--accent-bright-yellow);
    cursor: pointer;
}

.click {
    color: var(--primary-white);
}

.disabled.primary{
    background: var(--primary-dark-grey);
    color: var(--primary-white);
}


.disabled.secondary {
    color: var(--primary-dark-grey);
}

.primary, .secondary,
.hover, .click {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
}

.primary {
    background: var(--accent-bright-yellow);
}

.secondary {
    background: var(--primary-white);
}